<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AI Clip Creator</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div id="settings-menu">
            <form method="post" id="config-form" action="get-config">
                <div>
                    <label title="Enables GPU usage for faster processing. Requires an NVIDIA GPU.">Use GPU</label>
                    <input type="checkbox" id="use-gpu" name="use-gpu" {% if config.use_gpu %}checked{% endif %}>
                </div>
    
                <div>
                    <label title="If enabled, automatically loads the model on startup.">Auto load model</label>
                    <input type="checkbox" id="auto-load-model" name="auto-load-model" {% if config.auto_load_model %}checked{% endif %}>
                </div>

                <hr>
    
                <div class="value-container">
                    <div>
                        <label title="The length of each video segment in seconds. Lower values use less RAM; higher values process faster. Extremely low values may reduce output quality.">Segment length</label>
                        <input type="number" id="segment-length-number" name="segment-length" min="60" max="3600" value="{{ config.segment_length }}">
                    </div>
                    <input type="range" id="segment-length-range" name="segment-length" min="60" max="3600" value="{{ config.segment_length }}">
                </div>
    
                <div class="value-container">
                    <div>
                        <label title="The minimum length of the clip in seconds.">Minimum clip length</label>
                        <input type="number" id="minimum-clip-length-number" name="minimum-clip-length" min="1" max="180" value="{{ config.minimum_clip_length }}">
                    </div>
                    <input type="range" id="minimum-clip-length-range" name="minimum-clip-length" min="1" max="180" value="{{ config.minimum_clip_length }}">
                </div>
    
                <div class="value-container">
                    <div>
                        <label title="The maximum length of the clip in seconds.">Maximum clip length</label>
                        <input type="number" id="maximum-clip-length-number" name="maximum-clip-length" min="1" max="180" value="{{ config.maximum_clip_length }}">
                    </div>
                    <input type="range" id="maximum-clip-length-range" name="maximum-clip-length" min="1" max="180" value="{{ config.maximum_clip_length }}">
                </div>

                <div class="value-container">
                    <div>
                        <label title="The number of seconds to pad the beginning of the clip by.">Pad clip start</label>
                        <input type="number" id="pad-clip-start-number" name="pad-clip-start" min="0" max="60" value="{{ config.pad_clip_start }}">
                    </div>
                    <input type="range" id="pad-clip-start-range" name="pad-clip-start" min="0" max="60" value="{{ config.pad_clip_start }}">
                </div>

                <div class="value-container">
                    <div>
                        <label title="The number of seconds to pad the end of the clip by.">Pad clip end</label>
                        <input type="number" id="pad-clip-end-number" name="pad-clip-end" min="0" max="60" value="{{ config.pad_clip_end }}">
                    </div>
                    <input type="range" id="pad-clip-end-range" name="pad-clip-end" min="0" max="60" value="{{ config.pad_clip_end }}">
                </div>
    
                <div class="value-container">
                    <div>
                        <label title="The number of clips to return.">Number of clips</label>
                        <input type="number" id="number-of-clips-number" name="number-of-clips" min="1" max="20" value="{{ config.number_of_clips }}">
                    </div>
                    <input type="range" id="number-of-clips-range" name="number-of-clips" min="1" max="20" value="{{ config.number_of_clips }}">
                </div>

                <div class="value-container">
                    <div>
                        <label title="The model's decision threshold. Lower this value if no clips are being returned. Very low values will result in low quality clips.">Threshold</label>
                        <input type="number" id="threshold-number" name="threshold" min="0" max="1" step="0.01" value="{{ config.threshold }}">
                    </div>
                    <input type="range" id="threshold-range" name="threshold" min="0" max="1" step="0.01" value="{{ config.threshold }}">
                </div>

                <div class="value-container">
                    <div>
                        <label title="The amount of times a segment of a clip can be flagged as negative before the algorithim moves on. Increase this value if clips seem to be fragmented.">Leniency</label>
                        <input type="number" id="leniency-number" name="leniency" min="0" max="10" step="1" value="{{ config.leniency }}">
                    </div>
                    <input type="range" id="leniency-range" name="leniency" min="0" max="10" step="1" value="{{ config.leniency }}">
                </div>
    
                <button type="button" id="save-settings">Save Settings</button>
            </form>
        </div>

        <div class="main-content">
            <div id="video-upload">
                <h1>AI Clip Creator</h1>
                <p>Upload Video</p>
                <form method="post" enctype="multipart/form-data">
                    <input type="file" name="video" accept="video/*">
                    <input type="submit" id="video-upload-button" value="Upload">
                </form>
            </div>

            <div id="loading-bar">
                <div id="loading-bar-fill"></div>
            </div>
    
            <div id="clip-container">
                {% if clips %}
                    {% for clip in clips %}
                        <video controls>
                            <source src="{{ url_for('static', filename=clip) }}" type="video/mp4">
                        </video>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="clips-menu" id="clips-menu">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" width="256" height="256" id="folder-icon">
                <path d="M216 72h-85.33l-14.14-14.14A20 20 0 0 0 102.39 52H40a20 20 0 0 0-20 
                20v112a20 20 0 0 0 20 20h176a20 20 0 0 0 
                20-20V92a20 20 0 0 0-20-20zM44 84h168v96H44V84z" fill="black"/>
            </svg>

            <hr>

            <div class="file-browser">
                {% if folders %}
                    {% for folder in folders %}
                    <div class="folder">
                        <p class="folder-name">{{folder}}</p>
                        <div class="files">
                            {% for file in folders[folder] %}
                                <div class="file">
                                    <p>{{file}}</p>
                                    <a href="{{ url_for('static', filename='clips' + '/' + folder + '/' + file) }}" download>
                                        <svg fill="#D3D3D3" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 498.779 498.779">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><g>
                                        <g><polygon points="498.779,366.435 452.881,366.435 452.881,439.875 45.9,439.875
                                            45.9,367.965 0,367.965 0,485.774 498.779,485.774 "></polygon> <polygon points="134.086,177.664
                                            70.334,177.664 254.209,406.215 438.082,177.664 374.332,177.664 374.332,13.005 134.086,13.005 ">
                                        </polygon></g></g></g>
                                        </svg>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                    <p>No files found.</p>
                {% endif %}
            </div>
        </div>

        <script src="/static/index.js"></script>
    </body>
</html>